<!--Tab1 (Specs)-->
<div class="tab-pane fade in active" id="specs">
    <div class="container">
        <div class="row">
            <section class="tech-specs">
                <div class="container">
                    <div class="row">
                        <!--Column 1-->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {{#each spec1}}
                                <!--Item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa {{this.icon}}"></i><span>{{this.title}}</span></div>
                                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">{{this.desc}}</p></div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <!--Column 2-->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {{#each spec2}}
                                <!--Item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa {{this.icon}}"></i><span>{{this.title}}</span></div>
                                        <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">{{this.desc}}</p></div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
