<div class="gallery-item" data-groups="{{itemcategories}}" data-src="{{itemimage}}">
    <a href="{{itemimage}}">
        <div class="overlay"><span><i class="icon-expand"></i></span></div>
        <img src="{{itemimage}}" alt="{{itemcodedesc}}"/>
    </a>
</div>
