<div class="tile">
    <div class="price-label">${{numberToFixed standardunitprice 2}}</div>
    {{#if suggestedretailprice}}
        <div class="price-label old-price">${{numberToFixed suggestedretailprice 2}}</div>
    {{/if}}
    <a href="/products/{{encodeURIComponent itemcode}}" style="display: flex; align-items: center">
        <img src="/img/products/{{imagefile}}" alt="{{extendeddescriptiontext}}"/>
        <span class="tile-overlay"></span>
    </a>

    <div class="footer">
        <a href="#">{{itemcode}}</a>
        <button class="btn btn-primary" data-addtocart="{{itemcode}}">Add to Cart</button>
    </div>
</div>
